.text-box {
  border: 2px solid black;
  background-color: white;
  padding: 10px;
}

.text-box p {
  margin: 0;
  text-align: justify;
}
























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































